In [1]:
import pandas as pd

In [65]:
##Data Ingestion step
df=pd.read_csv("data/gemstone.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
df.count()

id         193573
carat      193573
cut        193573
color      193573
clarity    193573
depth      193573
table      193573
x          193573
y          193573
z          193573
price      193573
dtype: int64

In [7]:
##checking the null value
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [9]:
df.shape

(193573, 11)

In [10]:
df_copy=df.get(0.30)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [16]:
#their is no need of the id column so drop it
df=df.drop(labels=["id"],axis=1)
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [17]:
##checking any duplicate values
df.duplicated().sum()

0

In [21]:
#seprating the numerical(having numerice data type) and catagorical columns(having catagorical data type)
numerical_columns=df.columns[df.dtypes!="object"]
catagorical_columns=df.columns[df.dtypes=='object']
print("numerical columns ;",numerical_columns)
print("catagorical columnss :",catagorical_columns)

numerical columns ; Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')
catagorical columnss : Index(['cut', 'color', 'clarity'], dtype='object')

In [23]:
df[catagorical_columns].info()
df[catagorical_columns].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [33]:
for i in range (len(catagorical_columns)):
    print(df[catagorical_columns[i]].value_counts())
    print("="*30)

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64
==============================
color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64
==============================
clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64
==============================

In [42]:
import seaborn as sns

In [45]:
sns.heatmap(df,annot=True)

ValueError: could not convert string to float: 'Premium'

In [ ]:
#after cheking the correlation check the most corellated colums and drop it
#here we will drop x,y,z columns 
#df.drop(labels=['x','y','z'],axis=1) here axis =1 means we drop the columns

In [46]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [47]:
cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}

In [48]:
df["clarity"].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [53]:
clarity_map={'VS2':4, 'SI2':2, 'VS1':5, 'SI1':3, 'IF':8, 'VVS2':6, 'VVS1':7, 'I1':1}

In [50]:
df['color'].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [54]:
color_map={'F':3, 'J':6, 'G':4, 'E':2, 'D':1, 'H':5, 'I':7}

In [67]:
df['cut']=df['cut'].map(cut_map)

In [68]:
df.head()

   id  carat  cut color clarity  depth  table     x     y     z  price
0   0   1.52    4     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03    3     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70    5     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32    5     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    4     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [69]:
df['clarity']=df['clarity'].map(clarity_map)

In [70]:
df.head()

   id  carat  cut color  clarity  depth  table     x     y     z  price
0   0   1.52    4     F        4   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03    3     J        2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70    5     G        5   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32    5     G        5   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    4     G        4   62.6   59.0  7.65  7.61  4.77  14453

In [71]:
df['color']=df['color'].map(color_map)

In [72]:
df.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03    3      6        2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453